# Database
# Example (Neon pooler):
# DATABASE_URL="postgresql://USER:PASSWORD@YOUR-POOLER-HOST:5432/DB_NAME?sslmode=require&pgbouncer=true&connect_timeout=15"
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME?sslmode=require&connect_timeout=15"

# CORS
CORS_ORIGIN=http://localhost:3000
